<a href="https://colab.research.google.com/github/PasumurtySowmya/PythonAssignment/blob/main/Python_Ass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#Creating a data frame Using Dictionary
import pandas as pd
data = {
    'Name':['Ali','Bob','Charan','Don','Eva'],
    'Age': [24,34,23,45,34],
    'Gender': ['Male' ,'Female','Male' ,'Female','Male']
}
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0     Ali   24    Male
1     Bob   34  Female
2  Charan   23    Male
3     Don   45  Female
4     Eva   34    Male

In [10]:
#Indexing ,SLicing
import pandas as pd
data = {
    'Name':['Ali','Bob','Charan','Don','Eva'],
    'Age': [24,34,23,45,34],
    'Gender': ['Male' ,'Female','Male' ,'Female','Male']
}
df = pd.DataFrame(data)
df1 = df.iloc[0:3] #For Slicing
print(df1)
row2 = df.iloc[3] #For Indexing
print(row2)
rslt_df = df[df['Age'] > 30] #For Filtering
print(rslt_df)
options = ['Female']
# selecting rows based on condition
rslt_df1 = df[df['Gender'].isin(options)] #For Filtering

print('\nResult dataframe :\n',
      rslt_df1)

     Name  Age  Gender
0     Ali   24    Male
1     Bob   34  Female
2  Charan   23    Male
Name         Don
Age           45
Gender    Female
Name: 3, dtype: object
  Name  Age  Gender
1  Bob   34  Female
3  Don   45  Female
4  Eva   34    Male

Result dataframe :
   Name  Age  Gender
1  Bob   34  Female
3  Don   45  Female

In [21]:
# Modifying data within series
import pandas as pd
srs : [1,2,3,4,5,6,7,8]
srs1 =pd.Series(srs)
print(srs1)
Data =srs1.update(pd.Series([5000, 6000], index = [4, 6])) #Updating
print(Data)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64
None

In [33]:
#Modifying data within DataFrame
import pandas as pd
data = {
    'Name':['Ali','Bob','Charan','Don','Eva'],
    'Age': [24,34,23,45,34],
    'Gender': ['Male' ,'Female','Male' ,'Female','Male'],
    'Name ID': [10 ,20,30,40,50]
}
df = pd.DataFrame(data)
print(df)

data2 ={
    'Name ID': [10 ,20,30,40,50],
    'Name' :['Cat','Dog','Lion','Tiger','Fish'],
    'Age' :[34,16,44,54,22]
}
df1 = pd.DataFrame(data2)
print(df1)
frames = [df, df1]
result = pd.concat(frames) #Concat
print(result)
print(df.merge(df1, on='Name ID')) #Merging

     Name  Age  Gender  Name ID
0     Ali   24    Male       10
1     Bob   34  Female       20
2  Charan   23    Male       30
3     Don   45  Female       40
4     Eva   34    Male       50
   Name ID   Name  Age
0       10    Cat   34
1       20    Dog   16
2       30   Lion   44
3       40  Tiger   54
4       50   Fish   22
     Name  Age  Gender  Name ID
0     Ali   24    Male       10
1     Bob   34  Female       20
2  Charan   23    Male       30
3     Don   45  Female       40
4     Eva   34    Male       50
0     Cat   34     NaN       10
1     Dog   16     NaN       20
2    Lion   44     NaN       30
3   Tiger   54     NaN       40
4    Fish   22     NaN       50
   Name_x  Age_x  Gender  Name ID Name_y  Age_y
0     Ali     24    Male       10    Cat     34
1     Bob     34  Female       20    Dog     16
2  Charan     23    Male       30   Lion     44
3     Don     45  Female       40  Tiger     54
4     Eva     34    Male       50   Fish     22