<a href="https://colab.research.google.com/github/PasumurtySowmya/PythonAssignment/blob/main/Python_Ass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#Creating a data frame Using Dictionary
import pandas as pd
data = {
    'Name':['Ali','Bob','Charan','Don','Eva'],
    'Age': [24,34,23,45,34],
    'Gender': ['Male' ,'Female','Male' ,'Female','Male']
}
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0     Ali   24    Male
1     Bob   34  Female
2  Charan   23    Male
3     Don   45  Female
4     Eva   34    Male

In [6]:
#Indexing ,SLicing
import pandas as pd
data = {
    'Name':['Ali','Bob','Charan','Don','Eva'],
    'Age': [24,34,23,45,34],
    'Gender': ['Male' ,'Female','Male' ,'Female','Male']
}
df = pd.DataFrame(data)
df1 = df.iloc[0:3]
print(df1)

     Name  Age  Gender
0     Ali   24    Male
1     Bob   34  Female
2  Charan   23    Male